@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.google.com/share?selection.family=DM+Serif+Text:ital@0;1');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    padding-top: 60px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #F1EDE7;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

.logo {
    height: 60px; /* Ajustez la hauteur du logo selon vos besoins */
    margin-left: 10px; /* Espace entre le logo et la navigation */
}

.dropdown-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center;
}

.dropdown-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}

.dropdown-nav ul li {
    margin-left: 20px; /* Espace entre les éléments de navigation */
}

.dropdown-nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: block;
}

/* Footer */
.footer {
    background-color: #4D4A4C;
    color: white;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Serif Text', serif;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a img {
    width: 30px;
    height: 30px;
}

.creator-info {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/* BODY */
#presentation,
#competences {
    height: auto;
    min-height: 800px;
}

/* Présentation */
.presentation_image {
    height: 100vh;
    background-image: url('images/Presentation.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation_texte_titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 100px;
    opacity: 0; /* Initialement caché */
    transition: opacity 1s ease-in-out; /* Transition pour l'effet d'apparition */
}

.presentation_texte_titre.visible {
    opacity: 1; /* Visible après l'animation */
}

.presentation-separator {
    border: none;
    border-top: 1px solid white;
    width: 20%;
    margin-top: 130px; /* Ajustez cette valeur pour la distance depuis le texte */
    opacity: 0; /* Initialement caché */
    transition: opacity 3s ease-in-out; /* Transition pour l'effet d'apparition */
}

.presentation-separator.visible {
    opacity: 1; /* Visible après l'animation */
}

.presentation_texte_paragraphe {
    margin-top: 250px;
    color: white;
    position: absolute;
    opacity: 0; /* Initialement caché */
    transition: opacity 3s ease-in-out; /* Transition pour l'effet d'apparition */
    font-size: 40px;
}

.presentation_texte_paragraphe.visible {
    opacity: 1; /* Visible après l'animation */
}

/* Exposition */
.exposition_fond {
    background-color: white;
    height:500px;
}

.exposition_titre {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    padding: 20px;
}

.exposition_titre .part1 {
    color: #4D4A4C; /* Couleur pour la première partie du texte */
}

.exposition_titre .part2 {
    color: #C8C5C0; /* Couleur pour la deuxième partie du texte */
}

.exposition_paragraphe {
    color:#4D4A4C;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    padding-right: 300px;
    padding-left: 300px;
}

/* Galerie */
.galerie_fond {
    background-color: #F1EDE7;
    height: 700px;
}

.galerie_titre {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}

.galerie_carousel {
    overflow: hidden;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.carousel-track img {
    width: 50%;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Livraison */
.livraison_fond {
    background-color: white;
    height: 500px;
}

/* Contact */
.contact_fond {
    background-color: #C8C5C0;
    height: 1000px;
    position: relative; /* Assurez-vous que la position est relative */
    padding-top: 200px;
}

.contact_fond_feuille {
    background-color: white;
    height: 800px;
    width: 1400px;
    bottom: 0; /* Colle la div au bas de la div parente */
    margin-left: auto;
    margin-right: auto;
}

.contact_titre {
    height:20%;
    width: 100%;
    text-align: center;
    align-content: center;
}

.contact_texte {
    width: 50%;
    height: 80%;
    text-align: center;
    align-content: center;
}

.contact_carte {
    width: 50%;
    height: 80%;
    text-align: center;
    align-content: center;
}

/* MOBILE */
@media (max-width: 768px) {

    /* Header */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        z-index: 1000;
        justify-content: center;
        /* Centre les éléments horizontalement */
        align-items: center;
        display: flex;
    }

    .dropdown-menu {
        max-width: 100%;
        /* Limite la largeur du menu déroulant */
        width: auto;
        /* S'ajuste à la taille de son contenu */
    }

    .dropdown-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-nav ul li {
        position: relative;
        /* Nécessaire pour positionner le menu déroulant correctement */
        margin-left: 0;
        margin-bottom: 10px; /* Espace entre les éléments de navigation en mode mobile */
    }

    .dropdown-nav ul li a {
        text-align: center;
        display: block;
        padding: 10px;
    }

    /* Footer */
    .footer {
        height: 100px;
        padding: 10px 0;
    }

    .footer-links a img {
        width: 20px;
        height: 20px;
    }

    .creator-info {
        font-size: 12px;
    }
}